<%= form_with(model: mark, html: { class: 'form'}) do |form| %>
  <% if mark.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
        <% mark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "form-control-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  
  <img src="<%= mark.image %>" alt="img">

  <div class="form-group">
    <%= form.label :deleted, class: "form-control-label" %>
    <%= form.number_field :deleted, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
