<div id="<%= dom_id quote %>">
  <p>
    <strong>Cart:</strong>
    <%= quote.cart_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= quote.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= quote.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= quote.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= quote.address %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= quote.cellphone %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= quote.deleted %>
  </p>

</div>
