<div id="<%= dom_id slider %>">
  <p>
    <strong>Name:</strong>
    <%= slider.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= slider.image %>
  </p>

  <p>
    <strong>Image mobile:</strong>
    <%= slider.image_mobile %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= slider.remark %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= slider.deleted %>
  </p>

</div>
