<div id="<%= dom_id customer %>">
  <p>
    <strong>Country:</strong>
    <%= customer.country_id %>
  </p>

  <p>
    <strong>Num doc:</strong>
    <%= customer.num_doc %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= customer.deleted %>
  </p>

</div>
