<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= country.short_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= country.address %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= country.deleted %>
  </p>

</div>
