<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= category.image %>
  </p>

  <p>
    <strong>Slider:</strong>
    <%= category.slider %>
  </p>

  <p>
    <strong>Slider mobile:</strong>
    <%= category.slider_mobile %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= category.deleted %>
  </p>

</div>
