<div id="<%= dom_id product %>">
  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= product.mark_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>List price:</strong>
    <%= product.list_price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Ranked:</strong>
    <%= product.ranked %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Technical info:</strong>
    <%= product.technical_info %>
  </p>

  <p>
    <strong>Attach:</strong>
    <%= product.attach %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= product.deleted %>
  </p>

</div>
