<h1>Products</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Mark</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>List Price</th>
        <th>Discount</th>
        <th>Price</th>
        <th>Ranked</th>
        <th>Stock</th>
        <th>Technical Info</th>
        <th>Attach</th>
        <th>Deleted</th>
        <th>Show Product</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.category.name %></td>
          <td><%= product.mark_id %></td>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td>
            <img src=<%= product.image %> alt="img" height="50px" width="50px">
          </td>
          <td><%= product.list_price %></td>
          <td><%= product.discount %></td>
          <td><%= product.price %></td>
          <td><%= product.ranked %></td>
          <td><%= product.stock %></td>
          <td><%= product.technical_info %></td>
          <td><%= product.attach %></td>
          <td><%= product.deleted %></td>
          <td><%= link_to "Show this product", product, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New product", new_product_path, class: "btn btn-success" %>
