<div id="<%= dom_id sale %>">
  <p>
    <strong>Date payment:</strong>
    <%= sale.date_payment %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= sale.quote_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= sale.amount %>
  </p>

  <p>
    <strong>Type payment:</strong>
    <%= sale.type_payment_id %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= sale.deleted %>
  </p>

</div>
